//sidebar
.sidebar{
    min-height: 100vh;
  }

//個人頭像與資料  
.userProfile{
  .avatar{
    img{
    @include size(40px,40px);
    @include img;
    }
  }
  .email{
    font-size: 14px;
    color:#6C757D;
  }
}
  
//nav
  .nav-link{
    padding: 12px 0 12px 32px ;
    position: relative;
  }
  .nav-link.active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 24px;
    border-left: 4px solid #198754;
  }

//ck-editor
  .ckeditor{
    bottom: 50px;
    right: 0px;
    width: 505px;
    z-index: 1; 
    .ck-editor__editable {
      min-height: 340px;
    }
  }

.editorBtnPosition{
  bottom:32px;
  right: 32px;
} 

//pagination
.pagination{
  .pagActive{
    background-color:  $success;
    color: $light;
  }
  .page-link:hover{
    background-color: $success;
    color: $light;
  }
}

// btn
.btn-outline-gray-400{
  border: solid 1px $gray-400;
  color: $gray-400;
  &:hover{
    background-color: $gray-400;
    color: $dark;
  }
}

// blist-group
.list-group {
  .active{
    background-color: $light;
    color: $dark;
  }
}

//memberpic
.memberpic{
  height:180px;
}

