
    
  // width
  .w-65{
    width: 65%;
  }
  .w-60{
    width: 60%;
  }
  .w-40{
    width: 40%;
  }
  .w-10{
    width: 10%;
  }
  // padding-top
  .pt-1-5{
    padding-top: 12px;
  }
  .p-8{
    padding: 32px; 
  }
  // // margin-bottom

  .mb-4-5{
    margin-bottom: 32px;
  }
  .pt-4-7{
    padding-top: 40px;
  }
  
  // font-size
  .fz-0-5{
    font-size: 12px;
  }
  .fz-0-7{
    font-size: 14px;
  }
  .fz-1{
    font-size: 16px;
  }
  .fz-1-5{
    font-size: 20px;
  }
  .fz-2{
    font-size: 24px;
  }

 


